<div>
  <span>
    <%= @name %>
  </span>
  <span>
    <%= @body %>
  </span>

  <%= content %>

  <%= render Views::Comments::Reaction.new(emoji: 'hamburger') do |reaction| %>
    <p>Emoji reaction for a comment from <%= @name %> with body <%= @body %></p>
  <% end %>
</div>
